<h1><%= title %></h1>

<form action="" method="POST">
    <div>
        <label for="name">Food name: </label>
        <input 
            type="text" 
            id="name"
            name="name"
            required
            value="<%= food ? food.name : '' %>" 
        />
    </div>
    <div>
        <label for="items_left">Amount of items: </label>
        <input 
            type="number" 
            id="items_left"
            name="items_left"
            required
            value="<%= food ? food.items_left : '' %>" 
        />
    </div>
    <div>
        <label for="sell_by_date">Sell by date: </label>
        <input 
            type="date" 
            id="sell_by_date"
            name="sell_by_date"
            required
        />
    </div>
    <div>
        <br>
        <label>Select all applicable categories:</label>
        <br>
        <% categories.forEach(category => { %>
            <label>
                <input type="checkbox" name="categories" value="<%= category._id %>">
                <%= category.name %>
            </label><br>
        <% }); %>
    </div>
    <button type="submit">submit</button>
</form>

<% if (errors) { %>
    <ul>
        <% errors.map( (error) => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>